#######################################
# Ignore essentially everything...
#######################################

/*


#######################################
# ...but don't ignore our nvim/ folder
#######################################

!/nvim
/nvim/plugin/packer_compiled.lua

#######################################
# ...also don't ignore these places
#######################################

!/term/
!/lazygit/

