#######################################
# Ignore essentially everything...
#######################################

/*


#######################################
# ...but don't ignore our nvim/ folder
#######################################

!nvim/
nvim/plugin/
nvim/spell/
nvim/templates/

#######################################
# ...also don't ignore these places
#######################################

!term/
!lazygit/

