"" Source your .vimrc
source ~/.vimrc
"source ~/.config/nvim/ideavim/.ideavimrc

"" To find Action IDs within IntelliJ:
"   Use <c-A> to trigger Action palette and search for `Track Action IDs`

""" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
""" -- For more examples -- https://jb.gg/share-ideavimrc

"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=8
set sidescrolloff=8

set ideajoin

" Set up some convenience shortcuts (JIS keyboard)
map ¥ <leader>

" Don't use Ex mode, use Q for formatting.
map Q gq


""" --- My Mappings ---

" IntelliJ Navigation
map <leader>: <Action>(ManageRecentProjects)
map <c-z> <Action>(ActivateTerminalToolWindow)

" Running our project
map <leader>e <Action>(Run)
map <leader>d <Action>(Debug)
map <leader>c <Action>(Coverage)
map <leader>q <Action>(Stop)
map <leader>s <Action>(editRunConfigurations)
" Last one doesn't seem to work...

" Moving around different buffers/tabs
map <leader>z <Action>(ToggleDistractionFreeMode)
map <leader>[ <Action>(PreviousTab)
map <leader>] <Action>(NextTab)
map <leader>? <Action>(RecentFiles)
map <leader>f <Action>(GotoFile)
map <leader>- <Action>(CloseContent)
map <c-n> <Action>(NextSplitter)
map <c-p> <Action>(PrevSplitter)
map <c-\> <Action>(SplitVertically)
map <c--> <Action>(SplitHorizontally)
map <c-=> <Action>(UnsplitAll)
map gi <Action>(GotoImplementation)

" Vim-like tab management
map <c-m> <Action>(PinActiveEditorTab)

" Moving around current buffer
map <leader>a <Action>(ShowIntentionActions)
map <leader>i <Action>(QuickJavaDoc)
map <leader>o <Action>(FileStructurePopup)
map [[ <Action>(MethodUp)
map ]] <Action>(MethodDown)
map [l <Action>(GotoNextError)
map ]l <Action>(GotoPreviousError)

" Power-Ups
map <leader>R <Action>(RenameFile)
map <leader>r <Action>(RenameElement)

" Searching
map <leader>/ <Action>(FindInPath)

" Debugging
nmap <leader>b  <Action>(ToggleLineBreakpoint)
nmap <leader>,b <Action>(ToggleBreakpointEnabled)
nmap <leader>B  <Action>(ToggleBookmark)
" Ideally, we should somehow only trigger ToggleBreakpointEnabled instead...
" Or at the very least, try to detect if breakpoint is set (function)...

" Plugins
map <leader>l  <Action>(Gitlab.Copy.Link)

